header{
   background-color: #FBFB73;
}

header .menu{ 
   max-width: 1100px;
   margin: 0 auto;
   padding: 1.1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav{
   display: flex;
}

header a{
   padding: 15px 15px;
}

header .login-cadastro{
   font-size: 1rem;
   padding: 0.62rem;
   border-radius: 5px;
   border: 1px solid yellow;
}

/* .active-mobile{
   display: none;
}

#login-active{
   display: none;
} */

@media (max-width:900px){
   .active-mobile{
      padding: 7px 12px;
      background-color: black;
      color: #fff;
      font-size: 14px;
      font-family: 'IBM Plex Mono', monospace; 
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 200;
      cursor: pointer;
   }
   
   .active-mobile::before{
      margin-right: 4px;
      content: "";
      width: 15px;
      height: 2px;
      display: inline-block;
      background-color: #fff;
      box-shadow: 0 4px #fff, 0 -4px #fff;
   }

   #lista-menu{
      display: none;
   }

   main{
      position: relative;
   }

   #lista-menu.ativo{
      display: block;
      position: absolute;
      background-color: #FBFB73;
      right:0;
      top: 0;
      width: 150px;
      gap: 0;
   }

   #lista-menu ul{
      padding: 0;
      margin: 0;
   }

   #lista-menu a{
      border: 2px solid red;
      padding: 7px;
      display:block;
      text-align: right; 
   }

   #login-active{
      cursor: pointer;
   }

   #login-disabled{
      display: none;
   }
}