/*Import das páginas*/
@import 'header.css';
@import 'geral.css';
@import 'home.css';
@import 'sobre.css';
@import 'modal.css';
@import 'footer.css';
@import 'utilitarios.css';
@import 'motivos.css';
@import 'ganhamos.css';
@import 'time.css';
@import 'contato.css';

/*Import das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

/* Cores */
:root{
   --amarelo-principal:#EDB506;
   --cor-secundaria: #27A8AD;
   --branco: #ffffff;
   --preto:#000000;
   --cinza:#f1f3eb;
}


