header{
   background-color: var(--amarelo-principal);
   overflow-x: hidden;
}

header .menu{ 
   max-width: 1100px;
   margin: 0 auto;
   padding: 1.1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.lista-menu ul{
   display: flex;
   gap: 20px;
}

header a{
   box-sizing: border-box;
   padding: 20px 0;
   position: relative;
   transition: width 0.3s;
}

header a::after{
   content: "";
   position: absolute;
   display: block;
   background-color: #111111;
   height: 2px;
   width: 0;
   transition: width 0.3s;
}

header a:hover::after{
   width: 100%;
}

.menu-mobile{
   display: none;
}

@media (max-width:900px){
   .active-mobile{
      padding: 7px 12px;
      background-color: black;
      color: #fff;
      font-size: 14px;
      font-family: 'IBM Plex Mono', monospace; 
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 200;
      cursor: pointer;
   }
   
   .active-mobile::before{
      margin-right: 4px;
      content: "";
      width: 15px;
      height: 2px;
      display: inline-block;
      background-color: #fff;
      box-shadow: 0 4px #fff, 0 -4px #fff;
   }

   .lista-menu a{
      font-size: 1.125rem;
      gap: 30px;
   }

   main{
      position: relative;
   }

   #lista-menu.ativo{
      display: block;
      position: absolute;
      background-color: var(--amarelo-principal);
      right:0;
      top: 0;
      width: 150px;
      gap: 0;
   }

   #lista-menu ul{
      padding: 0;
      margin: 0;
   }

   #lista-menu a{
      border: 2px solid red;
      padding: 7px;
      display:block;
      text-align: right; 
   }

   #login-active{
      cursor: pointer;
   }

   #login-disabled{
      display: none;
   }
}

@media(max-width:800px){
   .lista-menu{
      display: none;
   }
   .menu-mobile{
      padding: 7px 12px;
      background-color: black;
      color: #fff;
      font-size: 14px;
      font-family: 'IBM Plex Mono', monospace; 
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 200;
      cursor: pointer;
   }
   .menu-mobile::before{
      margin-right: 4px;
      content: "";
      width: 15px;
      height: 2px;
      display: inline-block;
      background-color: #fff;
      box-shadow: 0 4px #fff, 0 -4px #fff;
   }

}